* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(245, 245, 245);
}

p {
	font-size: 0.85rem;
}

h4 {
	font-weight: 600;
}

.status {
	width: max-content;
	margin: 7rem auto;
}

.heading {
	width: max-content;
	margin: 3rem auto;
}

.page-container {
	display: grid;
	grid-template-columns: 71.3% 25%;
	grid-template-rows: repeat(2, max-content);
	gap: 2rem;
	width: 65%;
	margin: auto;
}

.profile-info,
.sideInfo,
.footer {
	padding: 2rem;
	border-radius: 1rem;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.profile-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.profile {
	border-radius: 50%;
}

.name {
	color: rgb(48, 48, 48);
}

.email {
	opacity: 0.7;
}

.btn {
	padding: 0.35rem 1.5rem;
	border: 1px solid rgb(197, 197, 197);
	border-radius: 0.5rem;
	outline: none;
	background-color: rgb(136, 248, 248);
}

.main-content {
	margin-top: 1rem;
}

.footer {
	background-color: rgb(10, 77, 77);
	color: aliceblue;
	grid-column: 1/3;
}

.sideInfo {
	padding: 1rem 2rem;
}

.etape1,
.etape2,
.etape3 {
	display: flex;
	margin: 0.75rem 0;
}

.tag {
	margin: 0.35rem auto;
	padding: 0.3rem 1rem;
	border-radius: 1rem;
	outline: none;
	background-color: rgb(136, 248, 248);
}

.tag1 {
	background-color: rgb(119, 226, 226);
}

.etape {
	margin-left: 1rem;
}

.num {
	color: aliceblue;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: grid;
	place-items: center;
	background-color: rgb(18, 114, 114);
	position: relative;
}
